.intro {
    padding: 0;
}

.intro__container {
    display: flex;
    justify-content: space-between;
}

.intro__container__right {
    width: 548px;
    height: 348px;
    margin: 20px;
    border-radius: 15px;
}


.intro__container__left {
    display: flex;
    flex-direction: column;
    gap: 32px;
    justify-content: center;
    padding: 0 24px;
}

.intro__container__h1 {
    margin: 0;
    font-weight: 700;
    font-size: 54px;
    line-height: 100%;
    color: var(--color-text);
}

.intro__container__h1_gradient {
    background: var(--gradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent
}

.intro__container__cta {
    display: flex;
    gap: 32px;
}

@media (max-width: 1200px) {
    /* .courses_wrapper {
        grid-template-columns: repeat(2, 1fr);
    } */
    .intro__container {
        flex-direction: column;
        
    }

    .intro__container__h1 {
        text-align: center;
    }

    .intro__container__cta {
        justify-content: center;
    }

    /* .trust-wrapper {
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    } */
}

@media (max-width: 640px) {
    /* .courses_wrapper {
        grid-template-columns: 1fr;
    } */
    .intro__container__h1 {
        font-size: 30px;
        line-height: 120%;
    }
    
    .intro__container__right {
        width: 100%;
    }

    .intro__container__cta {
        gap: 16px;
    }

    /* .trust-wrapper {
     grid-template-columns: 1fr;
     gap: 30px;
    } */

}

.blog {
    background-color: var(--color-bg);
}

/* .social_icons_blog {
    margin: 32px 0 48px 0;
} */

.post__content {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.button-more {
    text-align: center;
}

.chip_wrapper {
    display: flex;
    gap: 24px;
    overflow: scroll; /* чтобы появился скролл у нашего враппера */
    margin-right: -24px; /* чтобы при скролле не было пространства справа */
    margin-left: -24px;
    padding: 24px;
    scrollbar-width: none;
}

.chip_wrapper::-webkit-scrollbar {
    display: none;
}

.courses_wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 70px;
}

.trust-wrapper {
    display: grid;
    grid-template-columns: [start] repeat(3, 1fr) [end];
    gap:  0 75px;
    @media screen and (max-width: 1200px) {
        grid-template-columns: [start] repeat(2, 1fr) [end];
    } 
    @media screen and (max-width: 640px) {
        grid-template-columns: [start] 1fr [end];

    }
}

.trust-wrapper__top {
    grid-column: start / end;
}

.trust-wrapper__bottom {
    grid-column:   start / end;
}

.trust-wrapper__stat {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    margin-bottom: 70px;
    width: 100%;
}

.trust-wrapper__rating {
    display: flex;
    gap: 24px;
    margin-bottom: 70px;
    @media screen and (max-width: 1200px) {
        &:last-child {
            margin-bottom: 0;
        }
    }
}

.trust-wrapper_rate {
    font-size: 54px;
    line-height: 120%;
    color: var(--color-text);
}

.trust-wrapper__num {
    font-weight: 700;
    font-size: 46px;
    line-height: 120%;
    text-align: center;
    background: var(--gradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.trust-wrapper__desc {
    font-size: 18px;
    line-height: 120%;
    text-align: center;
    color: var(--color-text);
}

.video-desc-wrapper {
    width: 750px;
    margin: 20px auto;
}

.desc h2 {
    font-size: 25px;
    margin: 40px 0 10px 0;
}

.desc h1 {
    margin-top: 20px;
    font-size: 35px;
}

.desc ul {
    margin-left: 13px;
}

.back {
    margin-top: 20px;
}

.show {
    display: block;
}

.hide {
    display: none;
}

iframe {
    width: 750px;
    height: 400px;
}

.test__block {
    background-color: var(--color-bg-light);
    padding: 28px 35px 30px;
    border-radius: 6px;
    margin-bottom: 30px;
    color: seashell;
}

.radio-glogal {
    margin-bottom: 10px;
}

.test__block__question {
    margin-bottom: 10px;
    font-weight: bold;
    
}

.test__btns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.result {
    background-color: var(--color-bg-light);
    padding: 28px 35px 30px;
    border-radius: 6px;
    margin-bottom: 30px;
    color: seashell;
}